{% extends "home/base/base_anonymous.html" %}

{% block title %}Inicio - MedicFolio{% endblock %}

{% block content %}
<header class="text-center py-5">
    <div class="container">
        <h1 class="fw-bold text-dark">Impulsa tu proyecto con MedicFolio</h1>
        <p class="text-secondary">Construimos una plataforma que te permitirá organizar y gestionar tus servicios médicos con facilidad.</p>
        <div class="mt-4">
            <a href="" class="btn btn-outline-secondary btn-lg">Servicios</a>
            <a href="" class="btn btn-outline-secondary btn-lg">Planes</a>
        </div>
    </div>
</header>
{% endblock %}
