<!-- users/templates/users/password_reset_form.html -->
{% extends "home/base/base_nonavbar.html" %}
{% load static %}

{% block title %}Recuperar Contraseña - MedicFolio{% endblock %}

{% block content %}
<div class="row justify-content-center my-4">
    <div class="col-md-6">
        <div class="card shadow p-4">
            <h2 class="text-center mb-4">Recuperar Contraseña</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">
                    Enviar Instrucciones
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
