<!-- templates/users/password_reset.html -->

{% extends "home/base/base_nonavbar.html" %}

{% block title %}Recuperar Contraseña - MedicFolio{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">Recuperar Contraseña</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Enviar Instrucciones</button>
        </form>
    </div>
</div>
{% endblock %}
