<!-- users/templates/users/password_reset_done.html -->
{% extends "home/base/base_nonavbar.html" %}
{% load static %}

{% block title %}Correo Enviado - MedicFolio{% endblock %}

{% block content %}
<div class="row justify-content-center my-4">
    <div class="col-md-6">
        <div class="card shadow p-4 text-center">
            <h2 class="mb-4">¡Solicitud de Restablecimiento Enviada!</h2>
            <p>Si el correo existe en nuestro sistema, te hemos enviado un enlace para restablecer la contraseña.</p>
            <a href="{% url 'users:login' %}" class="btn btn-secondary mt-3">
                Volver a Iniciar Sesión
            </a>
        </div>
    </div>
</div>
{% endblock %}
