<!-- users/templates/users/password_reset_complete.html -->
{% extends "home/base/base_nonavbar.html" %}
{% load static %}

{% block title %}Contraseña Actualizada - MedicFolio{% endblock %}

{% block content %}
<div class="row justify-content-center my-4">
    <div class="col-md-6">
        <div class="card shadow p-4 text-center">
            <h2 class="mb-4">¡Tu contraseña ha sido restablecida con éxito!</h2>
            <p>Ahora puedes iniciar sesión con tu nueva contraseña.</p>
            <a href="{% url 'users:login' %}" class="btn btn-primary mt-3">
                Iniciar Sesión
            </a>
        </div>
    </div>
</div>
{% endblock %}
